@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.products{
    max-width: 1320px;
    margin: 3rem auto;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card > .card-img{
    position: relative;
}
.card > .card-img > img{
    width: 100%;
}
.card > .card-img > div:nth-child(2) {
    background: linear-gradient(285deg, rgb(46, 164, 224), rgb(49, 198, 132));
    color: #fff;
    font-family: Poppins;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: 0;
}
.card>.card-img>div:nth-child(3){
    position: absolute;
    right: 8px;
    top: 15px;
}
.card-content{
    display: flex;
    justify-content: space-between;
}
.card-content > div:first-child{
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
}
.card-content>div:first-child > p{
    text-transform: uppercase; 
    font-weight: 400;
    font-size: 13px;
}
.card-content>div:first-child > h2{
    font-size: 16px;
    font-weight: 500;
    padding: 6px 0;
}
.card-content>div:last-child{
    padding-top: 8px;
}
